
:root {
    --bg-color: #07173A;
}


* {
    box-sizing: border-box;
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4{
    font-family: "Capriola", sans-serif;
}


body {
    margin: 0;
    overflow: hidden;
    scroll-behavior: smooth;
}



#box {
    position: absolute;
    width: 50px;
    height: 50px;
    transition: transform 0.1s ease-in-out;
    z-index: 1000;
}

#box img {
    width: 50px;
    height: 50px;
}



.stage {
    width: 220px;
    height: 160px;
    gap: 25px;
    position: fixed;
    display: flex;
    /* margin: 20px; */
    /* perspective: 1200px; */
    perspective-origin: 50% 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-60px);
    /* background-color: var(--primary-color); */
    background-color: rgba(197, 197, 197);
    border-radius: 50px;
    justify-content: center;
    align-items: end;
    border: 5px solid rgb(0, 0, 0);
    z-index: 999;
}

.eye {
    /* display: inline-block; */
    width: 75px;
    height: 75px;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 40%, #fcfcfc, rgb(255, 228, 228) 66%, rgb(255, 228, 228) 100%);
    border: 3px solid black;
}

.eye:after {
    content: "";
    position: absolute;
    top: 5%;
    left: 10%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    transform: translateX(-17px) translateY(-20px) skewX(-20deg);
}

.brow-one,
.brow-two {
    position: absolute;
    top: -5%;
    left: -10%;
    width: 120%;
    height: 25%;
    background-color: rgb(64, 33, 33);
    z-index: 2;
    border-radius: 10px;
    border: 3px solid black;
    transform-origin: center bottom;
    /* Rotate from the bottom center */
    transition: transform 0.2s ease-out;
    /* Smooth rotation */
}

.iris {
    width: 40%;
    height: 40%;
    margin: 30%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, rgb(74, 31, 31) 5%, rgb(64, 33, 33) 100%);
    position: absolute;
    transition: transform 0.3s ease-out;
    z-index: 1;
    /* animation: move-eye-skew 5s ease-out infinite; */
}

.iris:before {
    content: "";
    display: block;
    position: absolute;
    width: 37.5%;
    height: 37.5%;
    border-radius: 50%;
    top: 31.25%;
    left: 31.25%;
    background: black;
}

.iris:after {
    content: "";
    display: block;
    position: absolute;
    width: 31.25%;
    height: 31.25%;
    border-radius: 50%;
    top: 18.75%;
    left: 18.75%;
    background: rgba(255, 255, 255, 0.2);
}



.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 100vh;
    backdrop-filter: blur(5px);

    background-color: white;
    /* background-image: url("assets/iceberg1.png"); */

    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    z-index: 500;
    border-bottom: 5px solid var(--primary-color);

    opacity: 0;
    transform: translateX(-10rem);
    visibility: hidden;
    animation: fade-slide-right 1s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

@keyframes fade-slide-right {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
        visibility: hidden;
    }

    100% {
        opacity: 1;
        transform: none;
        visibility: visible;
        /* Make it visible once animation completes */
    }
}

.nav-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-container h1 {
    font-size: 32px;
    font-weight: bold;
    /* color: blue; */
}


.nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 16px;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.2s ease-in-out;
}

.nav-links a.active {
    color: #004852; /* Change to highlight active link */
    font-weight: bold;
    text-decoration: underline;
    transform: translateX(10px);
}

.nav-links .line {
    height: 100%;
    width: 0px;
    border: 2px solid black;
}

.contact-btn {
    cursor: pointer;
    padding-bottom: 25px;
}

.contact-btn:active{
    padding-bottom: 25px;
    bottom: 470px;
}

/* Contact Card Styling */
.contact-card {
    position: fixed;
    bottom: 0; /* Start hidden below the screen */
    right: -400px;
    width: 100%;
    height: 470px;
    max-width: 400px;
    background: white;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.539);
    padding: 20px 0px;
    transition: right 0.4s ease-in-out;
    z-index: 1000;
    border-radius: 20px;
}

/* Show Contact Card */
.contact-card.active {
    right: 0; /* Slide up into view */
}

.contact-card .contact-title{
    background-color: var(--bg-color);
    width: 100%;
    height: 40px;
    align-items: center;
    padding: 5px;
}

.contact-card h2 {
    font-size: 22px;
    color: white;
    justify-self: center;
    margin: 0;
}


/* Styling for form */
.contact-form {
    max-width: 500px;
    margin: auto;
    padding: 20px 30px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    font-size: 16px;
    color: var(--quaternary-color);
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    color: var(--primary-color);
    /* bold? */
}

.contact-card button {
    width: 100%;
    padding: 10px;
    border: none;
    background: var(--bg-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.contact-card button:hover {
    cursor: none;
    animation: shake .5s linear;
}




#about {
    display: flex;
    align-items: center;
    padding: 50px;
    padding-right: 25px;
    padding: 100px;
    padding-left: 125px;
    justify-content: flex-end;
    background-color: var(--bg-color);
}

.about-content {
    max-height: 500px;
    max-width: 1100px;
    text-align: justify;
    border-radius: 50px;
    padding: 25px 50px;
    margin-left: 120px;
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 3px solid black;
    box-shadow: 10px 20px 0px rgb(160, 219, 251);
    position: static;

    opacity: 1;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    animation: fade-in 1s ease-in-out, float 10s ease-in-out infinite;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: rotateX(0deg) rotateY(60deg) rotateZ(0deg);
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
}

@keyframes float {
    0%,50%,100% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(10px);
    }

    75% {
        transform: translateY(15px);
    }
}


.about-content.animate-in {
    opacity: 1;
    /* Fade in */
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    /* Reset rotation */
}

.about-content.animate-out {
    opacity: 0;
    /* Fade in */
    transform: rotateX(0deg) rotateY(60deg) rotateZ(0deg);
    /* Reset rotation */
}

.about-content h2 {
    font-family: "Capriola", sans-serif;
    font-size: 32px;
    color: var(--primary-color);
}

.about-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.about-content p {
    font-size: 16px;
    line-height: 1.8;
    color: var(--tertiary-color);
}

.profile-img {
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 50px;
}

/* Social Links */
.social-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: var(--primary-color);
    border: 2px solid white;

}

.contact-link:hover {
    background-color: rgb(160, 219, 251);
    border: 2px solid black;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation: shake .5s linear;
}

.contact-link.hovered {
    background-color: rgb(160, 219, 251);
    border: 2px solid black;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation: shake .5s linear;
}

@keyframes shake {

    0%,
    100% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    50% {
        transform: rotateX(0deg) rotateY(25deg) rotateZ(0deg);
    }
}



/* Skills Section */
#skills {
    display: flex;
    text-align: baseline;
    padding: 50px 50px;
    padding-right: 0px;
    padding-left: 200px;
    align-items: center;
    gap: 400px;
    width: auto;
    background-color: var(--bg-color);

}

.skills-container {
    opacity: 1;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    min-width: 400px;
    padding: 30px;

    border-radius: 50px;
    background-color: white;
    border: 3px solid black;
    box-shadow: 10px 20px 0px rgb(160, 219, 251);

    animation: fade-in 1s ease-in-out, float 10s ease-in-out infinite 2s;
}


.skills-container.animate-in {
    opacity: 1;
    /* Fade in */
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    /* Reset rotation */
}

.skills-container.animate-out {
    opacity: 0;
    /* Fade in */
    transform: rotateX(0deg) rotateY(60deg) rotateZ(0deg);
    /* Reset rotation */
}

.skills-container h2{
    font-size: 26px;
}

.skills-container h3 {
    position: relative;
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 30px;
    padding: auto;
}

.skills-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.skill-category h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--secondary-color)
}

.skill-items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-items: left;
    text-align: center;
}

.skill-tag {
    background: var(--primary-color);
    color: var(--quaternary-color);
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    justify-content: center;
}

.skill-tag svg {
    fill: var(--quaternary-color);
}



#projects {
    text-align: center;
    margin: 0;
    padding: 50px 50px;
    font-size: 12px;
    background-color: var(--bg-color);
}

.project-title {
    width: 300px;
    justify-self: end;
    margin-bottom: 50px;

    border-radius: 50px;
    background-color: white;
    border: 3px solid black;
    box-shadow: 5px 10px 0px rgb(160, 219, 251);

    opacity: 1;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    animation: fade-in 1s ease-in-out, float 10s ease-in-out infinite;
}

.project-title.animate-in {
    opacity: 1;
    /* Fade in */
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    /* Reset rotation */
}

.project-title.animate-out {
    opacity: 0;
    /* Fade in */
    transform: rotateX(0deg) rotateY(60deg) rotateZ(0deg);
    /* Reset rotation */
}

.project-title h2 {
    font-size: 26px;
    color: var(--quaternary-color);
    border-radius: 100px;
    /* backdrop-filter: blur(15px); */
    margin: 10px;
}

.projects-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    flex-direction: column;
    margin-left: 150px;
}
.project-card-1,
.project-card-2 {
    background: var(--quaternary-color);
    padding: 30px;
    max-width: 900px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 50px;
    background-color: white;
    border: 3px solid black;
    box-shadow: 10px 20px 0px rgb(160, 219, 251);
    opacity: 0; /* Start with opacity 0 */
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); /* Start without rotation */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    animation: fade-in 1s ease-in-out;
}

/* Hover effect or scroll-in effect animation */
.project-card-1.animate-in,
.project-card-2.animate-in {
    opacity: 1; /* Fade-in */
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); /* No rotation initially */
}

/* Apply this animation to both project cards */
.project-card-1.animate-in,
.project-card-2.animate-in {
    animation: fade-in 1s ease-in-out; /* Apply both fade-in and rotation */
}

.project-card-1.animate-out,
.project-card-2.animate-out {
    opacity: 0; /* Fade-out */
    transform: rotateX(0deg) rotateY(60deg) rotateZ(0deg); /* Slight rotation when out of view */
}

/* Float animations for individual cards */
.project-card-1 {
    margin-left: auto;
    animation: float 10s ease-in-out infinite 4s;
}

.project-card-2 {
    margin-right: auto;
    animation: float 10s ease-in-out infinite 3s;
}

.project-card-1:hover, 
.project-card-2:hover {
    transform: scale(1.07);
}

.project-card-1.hovered,
.project-card-2.hovered {
    transform: scale(1.07);
    transition: transform 0.3s ease;
}


.profile-img {
    display: flex;
}

.project-image img {
    height: 200px;
    width: 100%;
    border-radius: 40px;
    border: 3px solid #17161D;
}

.project-content {
    flex: .8;
}

.project-content h3 {
    margin-top: 15px;
    font-size: 20px;
}

.project-content p {
    text-align: center;
    color: var(--secondary-color);
    font-size: 16px;
}

.project-link svg {
    /* margin: 5px; */
    width: 40px;
    height: 30px;
    padding: 5px;
    border-radius: 20px;
}

.project-link svg:hover {
    background-color: rgb(160, 219, 251);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation: shake .5s linear;
}

.project-link svg.hovered {
    background-color: rgb(160, 219, 251);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation: shake .5s linear;
}

.tech-stack {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.tech-stack span {
    background: var(--primary-color);
    color: var(--quaternary-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}



#footer {
    padding-top: 25px;
    background-color: var(--bg-color);
    height: 100px;
    margin-left: 125px;
    justify-items: center;
}

.seal {
    width: 80%;
    height: 100%;
    background-color: white;
}
